bin/*
etc/keys/*
etc/trade.conf
etc/ipcheck/ip.txt
etc/config.d/enabled/*
logs/*.log
logs/tracker/*
logs/telegrambot/*
include/*
lib/*
lib64
pyvenv.cfg
!lib/cryptobot
!etc/ipcheck/.gitkeep
!etc/keys/.gitkeep
!logs/tracker/.gitkeep
!logs/telegrambot/.gitkeep
!etc/config.d/enabled/.gitkeep
