[submodule "lib/cryptobot"]
	path = lib/cryptobot
	url = https://github.com/whittlem/pycryptobot
[submodule "etc/config.d/availlable"]
	path = etc/config.d/availlable
	url = git@github.com:Malcom3D/config
