[Unit]
Description=Trading system log on console
After=getty.target
Conflicts=getty@tty1.service

[Service]
User=trader
ExecStart=/usr/bin/watch 'clear && /home/trader/trading/sbin/trade.sh log
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
