[Unit]
Description=Daemon to start trading system solution

[Service]
User=trader
ExecStart=/home/trader/trading/sbin/daemon.sh

[Install]
WantedBy=multi-user.target
